build/
.gradle/
.idea/workspace.xml
.idea/discord.xml
.idea/gradle.xml
.idea/compiler.xml

testing/

*.jar

mappings.csv

testing/obftest/out

native/cmake-build-debug

.csv

rustinter/Cargo.lock
rustinter/target/
rustinter/debug/
**/*.rs.bk
*.iml
*.ipr
*.ips
